<div class="Book Delete">
  <h2>Destroy Book?</h2>
  
  <%= form_for(@book, :method => 'delete) do |f| %>
  
    <strong>Title:</strong>
    <%= @book.title %>
    <br/>
    <strong>Author:</strong>
    <%= @book.author %>
    <br/>
    <strong>Price:</strong>
    <%= @book.price %>$
    <strong>Date Published:</strong>
    <%= @book.published_date %>
	
	<div class = form-buttons">
	  <%= f.submit("Delete Subject") %>
	</div>
  <% end %>
  
  <td><%= link_to 'Back', books_path %>
</div>
